@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-bold-webfont.eot');
    src: url('../fonts/crimson/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-bold-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-bolditalic-webfont.eot');
    src: url('../fonts/crimson/crimson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-bolditalic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-italic-webfont.eot');
    src: url('../fonts/crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-italic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-roman-webfont.eot');
    src: url('../fonts/crimson/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-roman-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-semibold-webfont.eot');
    src: url('../fonts/crimson/crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-semibold-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-semibolditalic-webfont.eot');
    src: url('../fonts/crimson/crimson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
font-display: swap;
}
@font-face {
    font-family: 'Minion Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Minion Pro'),
         url('../fonts/minion/MinionPro-Regular_0.otf') format('opentype');
    font-display: swap;
}
/* source-serif-pro-regular - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'),
       url('../fonts/source/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
       url('../fonts/source/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
       url('../fonts/source/OTF/SourceSerifPro-Regular.otf') format('opentype'),
       url('../fonts/source/TTF/SourceSerifPro-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source/WOFF2/TTF/SourceSerifPro-It.ttf.woff2') format('woff2'),
         url('../fonts/source/WOFF/OTF/SourceSerifPro-It.otf.woff') format('woff'),
         url('../fonts/source/OTF/SourceSerifPro-It.otf') format('opentype'),
         url('../fonts/source/TTF/SourceSerifPro-It.ttf') format('truetype');
    font-display: swap;
}
/* source-serif-pro-700 - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2'),
       url('../fonts/source/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
       url('../fonts/source/OTF/SourceSerifPro-Bold.otf') format('opentype'),
       url('../fonts/source/TTF/SourceSerifPro-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source/WOFF2/TTF/SourceSerifPro-BoldIt.ttf.woff2') format('woff2'),
         url('../fonts/source/WOFF/OTF/SourceSerifPro-BoldIt.otf.woff') format('woff'),
         url('../fonts/source/OTF/SourceSerifPro-BoldIt.otf') format('opentype'),
         url('../fonts/source/TTF/SourceSerifPro-BoldIt.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source/WOFF2/TTF/SourceSerifPro-Semibold.ttf.woff2') format('woff2'),
         url('../fonts/source/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
         url('../fonts/source/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
         url('../fonts/source/TTF/SourceSerifPro-Semibold.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('../fonts/source-sans/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('../fonts/source-sans/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('../fonts/source-sans/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('../fonts/source-sans/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/source-sans/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('../fonts/source-sans/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('../fonts/source-sans/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('../fonts/source-sans/OTF/SourceSansPro-It.otf') format('opentype'),
         url('../fonts/source-sans/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
         url('../fonts/source-sans/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('../fonts/source-sans/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('../fonts/source-sans/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}



@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('../fonts/source-sans/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('../fonts/source-sans/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('../fonts/source-sans/TTF/SourceSansPro-Bold.ttf') format('truetype');
}
