
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-bold-webfont.eot');
    src: url('../fonts/crimson/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-bold-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-bolditalic-webfont.eot');
    src: url('../fonts/crimson/crimson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-bolditalic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-italic-webfont.eot');
    src: url('../fonts/crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-italic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-roman-webfont.eot');
    src: url('../fonts/crimson/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-roman-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-semibold-webfont.eot');
    src: url('../fonts/crimson/crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-semibold-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
font-display: swap;
}
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimson/crimson-semibolditalic-webfont.eot');
    src: url('../fonts/crimson/crimson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimson/crimson-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/crimson/crimson-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    unicode-range: U+0020-007E, U+2010, U+2013-2014, U+2018-2019, U+201C-201D;
font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Minion Pro'),
         url('../fonts/minion/MinionPro-Regular_0.otf') format('opentype');
    font-display: swap;
}
