---
layout: default
---

<header><h1>{{ page.title }}</h1></header>
<div id="page-metadata">
    <span id="page-metadata-block">
        <span id="page-date-range">
              {{ page.date | date: "%-d %B %Y" }}
        </span>
        <span id="page-tags">
            {% if page.tags %}
            tags: <em>{{ page.tags | join: "</em> - <em>" }}</em>
            {% endif %}
        </span>
    </span>
</div>
<div id="markdownBody">
    {{content}}
</div>
<footer><a href="https://docs.google.com/forms/d/e/1FAIpQLScfGXWT3lAkwGOgJYTueRjayniMODZzhJyqXOAHilxni-UUbg/viewform?usp=sf_link">Submit anonymous feedback</a></footer>
<br/>
<br/>
<br/>

<script>
if (document.querySelector("table")) {
    var js = document.createElement("script");
    js.type = "text/javascript";
    js.src = "/assets/js/tablesorter.js";
    document.body.appendChild(js);
  }
</script>

{% if page.comments %}
<div id="post_id" data="{{comment_id}}"></div>
    <div class="disqus-container">
    <div id="disqus_thread"></div>
    <script>
        function dynamicallyLoadScript(url) {
            var script = document.createElement("script");
            script.src = url;
            document.head.appendChild(script);
        }

       var lazyLoadObserver = function(f, selectors) {
           if (('IntersectionObserver' in window) &&
               ('IntersectionObserverEntry' in window) &&
               ('intersectionRatio' in window.IntersectionObserverEntry.prototype)) {
                var intersectionObserver = new IntersectionObserver(function(entries) {
                     if (entries[0].intersectionRatio <= 0) return;

                     f();
               }, { rootMargin: '140%' } );

               var target = document.querySelector(selectors);
               if (!(target === null)) { intersectionObserver.observe(target); }
           }
           else { f(); }
       }

        var disqus_shortname = ''; // declare variable globally as a way to make sure insertDisqus runs once and only once
        var insertDisqus = function() {
        if (disqus_shortname == '') {
           disqus_shortname = 'officialoxide';
           (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        }
       }
      // 1. Load Disqus comments
      lazyLoadObserver(insertDisqus, '#disqus_thread');
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
{% endif %}
